<!--  Created by IntelliJ IDEA.
  User: s lion h
  Date: 2018/4/17
  Time: 23:11
  To change this template use File | Settings | File Templates.-->
<html xmlns:th="http://www.thumeleaf.org">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Big Calendar</title>

<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- Google Font embed -->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Ubuntu:300,400,500,700" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
<!--<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>-->

<style type="text/css">
    .modal-contant{
        background: #fff;
    }
    .popover.left {
        margin-left: -65px;
    }
    .loading {
    　　position:fixed;
    　　width:100%;
    　　height:100%;
        background:rgba(153,153,153,0.2);
        color:#FFF;
        top:0px;
    }
    .inMiddle{
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        text-align:center;
        font-size: 80px;
    }
    .myEvent{
        color: #ff99cc;
        font-size: 18px;
        font-weight: bolder;
    }
    .myRepository{
        color: #0b90ff;
        font-size: 15px;
        font-weight: bolder;
    }
</style>
</head>



<body  data-spy="scroll" data-target="#myScrollspy" data-offset="50">
  <main class="container-fluid main-container">
    <!-- main shows -->
    <div class="row">
      <div class="col-md-2 month-slider">
        <!-- left data -->
        <nav class="navbar" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="">&nbsp;</a></li>
            <li ><a onclick="getMonthCalendar(1)">January</a></li>
            <li ><a onclick="getMonthCalendar(2)">February</a></li>
            <li ><a onclick="getMonthCalendar(3)">March</a></li>
            <li ><a onclick="getMonthCalendar(4)">April</a></li>
            <li ><a onclick="getMonthCalendar(5)">May</a></li>
            <li ><a onclick="getMonthCalendar(6)">June</a></li>
            <li ><a onclick="getMonthCalendar(7)">July</a></li>
            <li ><a onclick="getMonthCalendar(8)">August</a></li>
            <li ><a onclick="getMonthCalendar(9)">September</a></li>
            <li ><a onclick="getMonthCalendar(10)">October</a></li>
            <li ><a onclick="getMonthCalendar(11)">November</a></li>
            <li ><a onclick="getMonthCalendar(12)">December</a></li>
            <li >&nbsp;</li>
            <li >&nbsp;</li>
            <li >&nbsp;</li>
            <li >&nbsp;</li>
            <li class="text-center">粤ICP备17096671号</li>
          </ul>
        </nav>
      </div>

      <!-- total on middle -->
      <div class="col-md-9 date-container">
        <!-- The days are listed on top -->
        <div class="table-responsive days-headings">
          <table class="table">
            <tr>
              <th>M</th>
              <th>T</th>
              <th>W</th>
              <th>T</th>
              <th>F</th>
              <th>S</th>
              <th>S</th>
            </tr>
          </table>
        </div>


        <div id="calendar" class="dates-content table-responsive">
          <div id="loading" class="loading dates-content table-responsive">
            <p class="inMiddle">Loading...</p>
          </div>
        </div>

      </div>
        <!--右侧个人信息栏-->
      <div th:include="nav::side"></div>



      <script type="text/javascript">
          var today = new Date();//获得当前日期
          var thisMonth = today.getMonth() + 1;

          $('ul.nav > li:nth-child('+(thisMonth+1)+')').addClass('active');

          $(document).ready(function(){
              $.ajax({
                  type : 'get',
                  async : true,
                  url : '/getCalendar?month='+thisMonth,
                  cache : false,
                  success : function(data) {
                      $("#calendar").html(data);
                      $("#loading").fadeOut();

                  }
              });
          });
          function getMonthCalendar(month){
              $("#calendar").html("<div id=\"loading\" class=\"loading dates-content table-responsive\">\n" +
                  "            <p class=\"inMiddle\">Loading...</p>\n" +
                  "          </div>");
              $.ajax({
                  type : 'get',
                  async : true,
                  url : '/getCalendar?month='+month,
                  cache : false,
                  success : function(data) {
                      $("#calendar").html(data);
                      $(".loading").fadeOut();

                  }
              });
          }
      </script>
      <script>
        $(document).ready(function(){
            $('ul.nav > li').click(function (e) {
                e.preventDefault();
                $('ul.nav > li').removeClass('active');
                $(this).addClass('active');
            });
        });
      </script>
    </div>
  </main>
</body>
</html>